/* * {
    margin: 0;
    padding: 0;
} */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-family: 'Lato', sans-serif;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
.r {
  color: orangered;
}
.btn-primary{
    background-color: orangered;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 35px;
}
nav>ul{
    display: flex;
    align-items: center;

}
nav li {
  list-style: none;
    margin-right: 50px;
 

}
nav a {
    text-decoration: none;
    color: #474747;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.header {
    background-color: #fff8f3;


}
.banner{
    padding: 50px 30px 30px 150px ;
    display: flex;
    align-items: center;
}
.banner-content {
    
}
.banner-img {
    width: 500px;
}